{% extends "admin/change_list.html" %}

{% block object-tools %}
    <div>
        <form action="../rule/test_rules/" method="POST">
            {% csrf_token %}
            <div>
                <label>
                    Test ip
                    <input name="test_ip" />
                    (leave empty to use current ip address)
                </label>
            </div>
            <div>
                <label>
                    Test path
                    <input type="path" name="test_path" />
                    (leave empty to test ip addresses only)
                </label>
            </div>
            <div>
                <label>
                    Test method
                    <input type="method" name="test_method" />
                    (leave empty to don't use method testing)
                </label>
            </div>
            <div style="display: flex; gap: 4px; margin-top: 8px;">
                <button type="submit">Test rules</button>
                <button type="submit" formaction="../rule/clear_caches/">Clear caches</button>
                <a href="../rule/simulate_rules/">simulate rules</a>

            </div>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
