{% extends "admin/change_list.html" %}


{% block object-tools %}
    <div>
        <form action="test_rules/" method="POST">
            {% csrf_token %}
            <div>
                <label>
                    Test ip
                    <input name="test_ip" />
                    (leave empty to use current ip address)
                </label>
            </div>
            <div>
                <label>
                    Test path
                    <input type="path" name="test_path" />
                    (leave empty to test ip addresses only)
                </label>
            </div>
            <button type="submit">Test test rules</button>
        </form>
    </div>
    <br />
    {{ block.super }}
{% endblock %}
